
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 262 52% 20% / 0.05;
    --foreground: 0 0% 98%;
    --card: 262 52% 57% / 0.25;
    --card-foreground: 0 0% 98%;
    --popover: 262 52% 57% / 0.8;
    --popover-foreground: 0 0% 98%;
    --primary: 262 52% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 25% / 0.7;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 25% / 0.7;
    --muted-foreground: 0 0% 63.9%;
    --accent: 174 100% 34%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25% / 0.8;
    --input: 0 0% 25% / 0.8;
    --ring: 262 52% 57%;
    --radius: 0.5rem;

    --status-positive: 140 60% 45%;
    --status-neutral: 45 80% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-transparent text-foreground;
  }
}

.starfield {
  background-image:
      radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
      radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
      radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
      radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  animation: stars-scroll 200s linear infinite;
  background-color: hsl(0 0% 8%);
}

@keyframes stars-scroll {
  from { transform: translateY(0px); }
  to { transform: translateY(-2000px); }
}

.shooting-star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, hsl(var(--accent)), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px hsl(var(--accent)));
  animation: shooting-star-anim 15s ease-in-out infinite;
}

.shooting-star::before,
.shooting-star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), hsl(var(--accent)), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: a-shining 15s ease-in-out infinite;
}

.shooting-star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

@keyframes shooting-star-anim {
  0% {
    transform: rotate(315deg) translateX(50vw);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-50vw);
    opacity: 0;
  }
}

@keyframes a-shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
